<%- include('partials/header') %>

<body>
   <!-- partial:index.partial.html -->
   <div class="center-div">
      <button onclick="download()"> Download (<%- data.size %>) </button>
      <br><br>
      <div class="info"> All saved files will be deleted within 60 minutes, this file will be deleted : <%- data.timeout %></div>
      <script>
         function download() {
            new jsFileDownloader({
                  url: '<%- process.env.WEBSITE %>/uploads/<%- data.filename %>',
                  forceDesktopMode: true
               })
               .catch(function(error) {
                  alert('Something went wrong!')
               })
         }
      </script>
   </div>
   <!-- partial -->
   <script src="/assets/js/js-file-downloader.min.js"></script>
</body>

</html>